/* Colors */
:root {
    --default-bg-color: #fefefe;
    --backdrop-bg-color: #d9d9d9;
    --title-bg-color: #f3f3f3;
    --code-snippet-bg-color: #666666;
    --borders: black;
}

/* Universal selector */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Page style */
body {
    font-family: Arial;
    margin: 0;
    background-color: var(--default-bg-color);
    min-width: 600px; /* This just happens to look bad under 600px */
}

/* Header h1 style */
header h1 {
    border-top: 3px solid var(--borders);
    border-bottom: 3px solid var(--borders);
    text-align: center;
    padding: 10px;
}

/* Wrapper for the page except header and footer */
.backdrop {
    background-color: var(--backdrop-bg-color);
    padding: 25px;
}

/* Introduction to page */
#introduction {
    display: flex;
    justify-content: center;
}

/* Introduction text */
#introduction p {
    border: 3px solid var(--borders);
    padding: 5px;
}

/* Articles section */
#articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 5px 20px 5px;
}

/* Each article */
#articles article {
    width: 200px;
    padding: 5px;
    margin: 20px;
    height: 100px;
}

/* Title box within each article */
#articles article .code-title {
    width: 100px;
    margin-left: 50px;
    z-index: 999;
    text-align: center;
    background-color: var(--title-bg-color);
    enable-background: new;
    padding: 3px 1px 1px 1px;
    border: 2px solid var(--borders);
    position: absolute;
}

/* Description within each article, overlaps behind title */
#articles article .code-description {
    width: 200px;
    border: 2px solid var(--borders);
    margin-top: 20px;
    padding: 5px;
    font-size:smaller;
    position: absolute;
}

/* Adds some space beneath the article description */
#articles article .code-description p {
    padding-bottom: 20px;
    position: absolute;
}

/* Code snippet within the description box */
#articles article .code-snippet {
    text-align: center;
    background-color: var(--code-snippet-bg-color);
    padding: 10px;
    margin: 40px 5px 5px 5px;
    border: 2px solid var(--borders);
}

/* Footer */
footer {
    text-align: center;
    border-top: 3px solid var(--borders);
    border-bottom: 3px solid var(--borders);
}